.arvlMsg {
	color: #ff0000;
}

.BlueBus {
	color: #3D5BAB;
}

.GreenBus {
	color: #5BB025;
}

.AirportBus {
	color: #8B4513;
}

.RedBus {
	color: #F72F13;
}

.ShuttleBus {
	color: #5BB025;
}

.YellowBus {
	color: #F99D1C;
}

.NormalBus {
	color: #24A816;
}
